*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.questionsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.question{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid magenta;
    border-radius: 5px;    
}

.question-title{
    display: flex;
    margin: 2rem;
}

.question-btn{
    width: 10%;
    margin-left: 3rem;
}

.minus-icon{
    display: none;
}


.question-text{
    display: none;
    text-align: center;
    margin: 1.5rem;
}

/* hide text */

.show-text .minus-icon{
    display: block;
}

.show-text .plusIcon{
    display: none;
}

.show-text .question-text{
    display: block;
}